@import url('../../style.css');

.tool-container {
  padding: 45vh 0 45vh 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#e0dfdb, #444639);
}

.coming-soon {
  font-family: 'OPTIEdgarBold-Extended';
}
