video {
  height: 0;
  width: 0;
}

.song-title {
  font-family: 'Courier Prime', monospace;
}

.audio-container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 55vmin;
  max-height: 55vmin;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid white;
}

.audio-container:hover {
  cursor: pointer;
}

.play-pause {
  padding: 1vw 1vw;
}
