@import url('../../style.css');

.ab-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 2vh 0 0;
  position: relative;
  /* z-index: 0; */
}

.ab-header {
  font-family: 'OPTIEdgarBold-Extended';
  color: #000;
  margin-bottom: 1vh;
  font-size: 2vw;
  margin-top: 0;
}

.album-art {
  width: 35vw;
  height: 35vw;
  /* z-index: 5; */
}

.art-container {
  background-color: #000;
  position: relative;
  max-width: 35vw;
  max-height: 35vw;
  overflow: hidden;
}
