.ATP-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70vmin;
  width: 70vmin;
  margin: auto;
  padding: 18vmin 0px 10vmin 0px;
}
