@import url('../../style.css');

.about-container {
  display: grid;
  grid-template-columns: 25vmin 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'pic text';
  padding: 0.5% 2% 0.5% 2%;
  gap: 2rem;
  background-color: #000;
}

.about-image-flex {
  grid-area: 'pic';
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop {
  height: 25vmin;
  width: 25vmin;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

.crop > img {
  height: 28vmin;
  width: 28vmin;
  margin: 0 0 0 -7%;
}

.about-text {
  grid-area: 'text';
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
}

.about-text > p {
  text-align: justify;
  font-family: 'Courier Prime', monospace;
  font-size: 2.5vmin;
}

.about-text h2 {
  font-family: 'OPTIEdgarBold-Extended';
  margin-bottom: 0;
  font-size: 3.2vmin;
  margin-left: -1.5vmin;
}

.about-text span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.about-text span > div {
  margin: 3vh 0 0 1vw;
  height: 1px;
  width: 45vw;
  background-image: linear-gradient(to left, transparent -5%, white);
}

.about-links {
  font-family: 'Courier Prime', monospace;
  font-style: italic;
}

.about-links a {
  font-size: 2vmin;
}

a {
  color: #fff;
}

.about-container ::selection {
  color: #000;
  background-color: #fff;
}