.gridCont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px 1px;
    grid-template-areas: "Header Header Header Header Header Header" ". Content Content Content Content ." ". Content Content Content Content ." ". Content Content Content Content ." ". Content Content Content Content .";
  }
  
  .Header { grid-area: Header; }
  
  .Content { grid-area: Content; }