@import "../App/App.css";

.Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  /* height: 100vh; */
}

.title {
    grid-column: 1 / 3;
    grid-row: 1 / 2; 
    position: center;
}

.textone{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.texttwo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}