@import url('../../style.css');
 

.tour-container {
  padding-top: 10vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.tour-container h1 {
  font-family: 'OPTIEdgarBold-Extended';
  border-bottom: .5px solid black
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 10vw;
  grid-template-rows: auto;
  grid-template-areas: 'location time buttons';
  align-items: shrink;
  flex-shrink: 3;
  
}

.row {
  display: contents;
}

.location {
  font-family: 'OPTIEdgarBold-Extended';
  grid-area: 'location';
  border-bottom: .5px solid black;
  padding: 10px;
}

.time {
  font-family: 'OPTIEdgarBold-Extended';
  grid-area: 'time';
  border-bottom: .5px solid black;
  padding: 10px;
  padding-top: 50px;
}
.venue-name {
  font-size: 1.15em;
  font-family: 'Courier New';
}

.parallax {
  background: linear-gradient(to bottom, #00000070, #00000070), url('./lo.jpg');
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  background-position: bottom;
  background-attachment: fixed;
  background-position: 0 -300px;
  background-repeat: no-repeat; 
  background-size: cover;  

}
.parallax h1{
  font-family: OPTIEdgarBold-Extended;
  font-size: 3em;
  padding-top: 25vh;
  color: white;
}

.buttons {
  grid-area: 'buttons';
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: .5px solid black;
  color: red;
}
.row:hover div {
  background-color: #dbeaf4;
  cursor: pointer; 
}

.buttons a, .buttons a:link, .buttons a:visited {
  color: white;
  display: inline-block; padding: 2px 8px;
  text-decoration: none;
  background-color: black;
  border-style: solid; 
  border-width: 2px;
  border-color: black;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;

}